<!DOCTYPE html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload a File</title>
</head>
<body class="has-text-centered">
    <section class="hero bd-hero bd-is-basic is-info">
        <div class="hero-body">
          <p class="title">
            Upload Files:
          </p>
          <p class="subtitle">
            You can upload files here.
          </p>
          <p class="subtitle is-6">
            Go back to <a href="/dashboard">Dashboard</a>
          </p>
          <form action="/upload" enctype="multipart/form-data" method="post">
            <div class="form-group">
                <input type="file" class="form-control-file" name="uploaded_file">
                <input type="submit" value="Submit" class="button is-info is-small is-light">
            </div>
        </form>
        </div>
      </section>
      <section class="section is-small "></section>
      <footer class="footer">
        <div class="content has-text-centered">
          <p>
            <strong>File Store</strong> by <a href="https://github.com/The-Debarghya">Debarghya Maitra</a>. The source code is not licensed. 
            The website content is not licensed. Generated with <a href="">EJS</a> and disgust.
          </p>
        </div>
      </footer>
</body>
</html>